@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans';
}

a{
    text-decoration: none;
    
}
div#header{
    width: 100%;
    height: 70px;
    background-color: #22313F;
     margin: auto;

}
.logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    
}
.logo a{
    font-size: 1.3em;
    color: #fff;
}
.logo a span{
    font-weight: 100;
}

div#container{
    margin: auto;
    width: 100%;
}
.sidebar{
    width: 250px;
    height: 680px;
    background-color: #34495E;
    float: left;
}
.content{
    width: auto;
    height: 680px;
    background-color: #EEEEEE;
    padding: 20px;
    padding-left: 300px;
}

ul#nav{
    
}
ul li{
    list-style: none;
}
ul li a{
    color: white;
    padding: 10px;
    display: block;
    font-size: 1.2em;
    border-bottom: 2px solid #F27935;
    
}
ul#nav li a:hover{
    padding-left: 20px;
    background-color: #22313F;
}

.header-name{
    float:right;
    color: azure;
    margin-top:30px;
    margin-right: 30px;
    
}

.active{
    background-color: #F27935;
}
.activeimage{
    border: solid 4px #F27935 !important;
}
#selectspan{
display: none;
    
}

#imagedisplay:hover #selectspan{
   
   display: block;
background-color: darkgrey;
height: 80px;    
width: 150px;    
 
    
}

.mt20{
  margin-top: 20px;  
}
.ml50{
    margin-left: 50px;
}

