<div>
<div ng-include="'template/blocks/header.html'"></div>
<div id="container">
   <div ng-include="'template/blocks/aside.html'"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-3" >
              <div class="scrollme" ng-scrollbar style="height:600; overflow-y:scroll;"  >
            <span ng-repeat="image in imageArray"  >
              
                <img src="{{image}}"  height="90px" width="90px" ng-class="activeimage:isActive==$index" ng-click="setImage(image,$index)" style="margin-bottom:10px;border:solid 2px;"/>
                
              </span>
                  </div>
            </div>
              
            <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="PRE" ng-click="showPreviousImage()" style="position:absolute;margin-top:300px;"/>
                <input type="button" class="btn btn-primary" value="Next" ng-click="showNextImage();" style="position:absolute;margin-top:300px;margin-left:640px;" />
            <img src={{imagePath}}  height="600px" width="700px" ng-dblclick="selectImage(imagePath)" style="margin-bottom:10px;border:solid 2px;">
            
            
            </div>
          
          </div>
        
          <div class="row">
              <span ng-repeat="image in selectedImagesArray"  >
              
                <img src="{{image}}"  height="90px" width="90px"  ng-click="setImage(image,$index)" style="margin-bottom:10px;border:solid 2px;"/>
                
              </span>
          </div>
        </div>
        
        
    </div>    
    </div>
    
</div>