 <div class="sidebar">
        <ul id="nav">
            <div class="line-separator"></div>
            <li ng-class="{active:headerName=='Dashboard'}"><a href="#dashboard">Dashboard</a></li>
            <div class="line-separator"></div>
            
            <li ng-class="{active:headerName=='Home'}"><a href="#home">Home</a></li>
            <div class="line-separator"></div>            

            <li ng-class="{active:headerName=='Setting'}"><a href="#setting">Setting </a></li>
            <li ng-class="{active:headerName=='About'}"><a href="#about">about</a></li>
            <li ng-class="{active:headerName=='Test'}" ><a href="#test">Test</a></li>
            
            
        </ul>
    </div>